<style>
  .bg-dark-blue {
    background: #F4F4F4 !important;
    padding-top: 70px;
  }
</style>

<%= render 'shared/navbar_black' %>
<div class="all-the-events">
  <% @events.each_with_index do |event, index| %>
    <div class="<%= (index == 0) ? "active-event" : "non-active-event"%>" id="displayed-event" data-index="<%= index%>" data-lat="<%= event.latitude%>" data-lng="<%= event.longitude%>">

      <div id="event-infos">
        <h2><%= event.title %></h2>
        <%= cl_image_tag(event.photo, crop: :fit, class: "event-photo") %>
        <p><%= event.club.name %></p>
        <p><%= event.address %></p>
        <p><%= event.opening_hours %></p>
        <p><%= event.price %></p>
        <p><%= event.description %></p>
      </div>
      <div id="event-lineup">
        <ul>
          <% event.event_artists.all.each do |eve_artist| %>
            <li class="line-up-artist">- <%= eve_artist.artist.name %> <br>
              <em class= "soundcloud-link">
              <i class="fa fa-headphones"></i>  Listen </em>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="event-map">
        <%= render 'map', event: event, index: index %>
        <p>
          <%= link_to ("Get directions"), "https://www.google.com/maps/dir/#{@user_lat},#{@user_lng}/#{event.latitude},#{event.longitude}", target:"_blank", class: "show-cta-btn" %>
        </p>
      </div>

      <%= render "shared/mobile_nav", index: index %>
    </div>
  <% end %>

  <!-- Fixed page arrows -->
  <div class= "arrows">
    <i><%= link_to (""), "#", class: "sidebar-arrow-right fa fa-arrow-right", id: "next-event-button" %></i>
    <i><%= link_to (""), "#", class: "sidebar-arrow-left fa fa-arrow-left", id: "prev-event-button" %></i>
  </div>

</div>





