<style>
  .bg-dark-blue {
    background: #F4F4F4 !important;
  }
</style>

<!-- NAVBAR -->
<%= render 'shared/navbar_black' %>

<!-- INFO PAGE -->
  <div class="all-the-events">
    <% @events.each_with_index do |event, index| %>
      <div class="<%= (index == 0) ? "active-event" : "non-active-event"%>" id="displayed-event" data-index="<%= index%>" data-lat="<%= event.latitude%>" data-lng="<%= event.longitude%>">

        <div id="infos-<%= index %>" class="event-infos">

          <!-- CLUB NAME -->
          <div class= 'club-name'>
            <h3><%= event.club.name.upcase %></h3>
          </div>

          <hr class= "orange-line-top"></hr>

          <!-- IMAGE -->
          <div class="event-photo" style="background-image: url('<%= cl_image_path(event.photo, crop: :fill) %>');">
          </div>

          <hr class= "orange-line-top"></hr>

          <!-- EVENT TITLE-->
          <div class="container">
            <h3 class= "event-title text-center"><%= event.title %></h3>


            <!-- EVENT DETAILS -->
            <div class="event-details-info text-center">
              <div class="event-time">
                <p><span>Time:</span></p>
                <h3><%= event.opening_hours %></h3>
              </div>
              <div class="event-price">
                <p><span>Price:</span></p>
                <h3><%= event.price %></h3>
              </div>
            </div>
          </div>
            <hr class= "green-line"></hr>


          <!-- EVENT ADDRESS -->
          <div class= "event-address container text-center">
            <p><%= event.club.name %> - <span><%= event.address %></span></p>
          </div>
      </div>


    <!-- LINEUP PAGE -->
      <!-- LINEUP -->
      <div id="lineup-<%= index %>" class="event-lineup">
        <ul>
          <% event.event_artists.all.each do |eve_artist| %>
            <li class="line-up-artist">- <%= eve_artist.artist.name %> <br>
              <em class= "soundcloud-link">
              <i class="fa fa-headphones"></i>  Listen </em>
            </li>
          <% end %>
          <!-- DESCRIPTION -->
          <p class="event-description">
            <%= event.description %>
          </p>
        </ul>
      </div>


    <!-- MAP PAGE -->
      <div id="map-<%= index %>" class="event-map">
        <%= render 'map', event: event, index: index %>
        <p class="text-center">
          <%= link_to ("Get directions"), "https://www.google.com/maps/dir/#{@user_lat},#{@user_lng}/#{event.latitude},#{event.longitude}", target:"_blank", class: "show-cta-btn" %>
        </p>
      </div>


    <!-- MOBILE NAV -->
      <%= render "shared/mobile_nav", index: index %>
    </div>
  <% end %>


<!-- FIXED ARROWS -->
  <div class= "arrows">
    <i><%= link_to (""), "#", class: "sidebar-arrow-right fa fa-arrow-right", id: "next-event-button" %></i>
    <i><%= link_to (""), "#", class: "sidebar-arrow-left fa fa-arrow-left", id: "prev-event-button" %></i>
  </div>
</div>





