<style>
  .bg-dark-blue {
    background: #F4F4F4 !important;
  }
</style>

<!-- NAVBAR -->
<%= render 'shared/navbar_black' %>

<!-- INFO PAGE -->
  <div class="all-the-events">
    <% @events.each_with_index do |event, index| %>
      <div class="<%= (index == 0) ? "active-event" : "non-active-event"%> event-wrapper" id="displayed-event" data-index="<%= index%>" data-lat="<%= event.latitude%>" data-lng="<%= event.longitude%>">

        <div id="infos-<%= index %>" class="event-infos">

          <!-- CLUB NAME -->
          <div class= 'club-name'>
            <h3><%= event.club.name.upcase %></h3>
          </div>

          <hr class= "orange-line-top"></hr>

          <!-- IMAGE -->

          <div class="event-photo" style="background-image: url('<%= event.photo.file ? cl_image_path(event.photo, crop: :fill) : 'http://res.cloudinary.com/luigi-grazioli/image/upload/v1473325198/clubbing_vx3eul.jpg' %>');">
          </div>

          <hr class= "orange-line-top"></hr>

          <!-- EVENT TITLE-->
          <div class="container" style='padding:0; min-height: 250px; position: relative;'>
            <h3 class= "event-title text-center"><%= event.title %></h3>
            <!-- ARROWS -->
            <div class= "arrows">
              <i><%= link_to (""), "#", class: "sidebar-arrow-right fa fa-angle-right", id: "next-event-button" %></i>
              <i><%= link_to (""), "#", class: "sidebar-arrow-left fa fa-angle-left", id: "prev-event-button" %></i>
            </div>


            <!-- EVENT DETAILS -->
            <div class="event-details-info text-center">
              <div class="event-time">
                <p><span>Time:</span></p>
                <h3><%= event.opening_hours %></h3>
              </div>
              <div class="event-price">
                <p><span>Price:</span></p>
                <h3><%= event.price %></h3>
              </div>
            </div>

        </div>
      </div>


    <!-- LINEUP PAGE -->
      <!-- LINEUP -->
        <div id="lineup-<%= index %>" class="event-lineup">
          <div class="container text-center event-container">
            <p><span>Line-up</span></p>
              <ul>
                <% event.event_artists.all.each do |eve_artist| %>
                <li class="line-up-artist"><h3> <%= eve_artist.artist.name %> </h3>
                  –
                  <% if eve_artist.artist.soundcloud_username %>
                    <em class= "soundcloud-link">
                      <%= raw eve_artist.artist.soundcloud_widget %>
                    </em>
                  <% end %>
                </li>
                <% end %>
              </ul>

            <!-- DESCRIPTION -->
            <p><span>Description</span></p>
            <h4 class="event-description"><%= event.description %></h4>

          </div>
        </div>

<!-- <i class="fa fa-headphones"></i> -->

    <!-- MAP PAGE -->
    <div class="event-map text-center">
      <p><%= event.club.name %> - <span><%= event.address %></span></p>
      <div id="map-<%= index %>">
        <%= render 'map', event: event, index: index %>
      </div>
      <div class="get-directions text-center">
        <p><%= link_to ("Get directions"), "https://www.google.com/maps/dir/#{@user_lat},#{@user_lng}/#{event.latitude},#{event.longitude}", target:"_blank", class: "show-cta-btn" %></p>
      </div>
    </div>


    <!-- MOBILE NAV -->
      <%= render "shared/mobile_nav", index: index, event: event %>
    </div>
  <% end %>
</div>





