<style>
  .bg-dark-blue {
    background: #F4F4F4 !important;
  }
</style>

<!-- NAVBAR -->
<%= render 'shared/navbar_black' %>

<!-- INFO PAGE -->
  <div class="all-the-events">
    <% @events.each_with_index do |event, index| %>
      <div class="<%= (index == 0) ? "active-event" : "non-active-event"%>" id="displayed-event" data-index="<%= index%>" data-lat="<%= event.latitude%>" data-lng="<%= event.longitude%>">

        <div id="infos-<%= index %>" class="event-infos">

          <!-- CLUB NAME -->
          <div>
            <h2><%= event.club.name %></h2>
          </div>

          <!-- IMAGE -->
          <div class="event-banner" style="background-image: url('<%= cl_image_path(event.photo, crop: :fill, class: "event-photo") %>');">
          </div>

          <!-- EVENT TITLE-->
          <div>
            <h3><%= event.title %></h3>
          </div>

          <!-- EVENT DETAILS -->
          <div class="event-details">
            <div class="event-details-header">
              <p><%= event.opening_hours %></p>
              <p><%= event.price %></p>
            </div>
            <p class="event-address">
              <span><%= event.address %></span>
            </p>
          </div>
      </div>


    <!-- LINEUP PAGE -->
      <!-- LINEUP -->
      <div id="lineup-<%= index %>" class="event-lineup">
        <ul>
          <% event.event_artists.all.each do |eve_artist| %>
            <li class="line-up-artist">- <%= eve_artist.artist.name %> <br>
              <em class= "soundcloud-link">
              <i class="fa fa-headphones"></i>  Listen </em>
            </li>
          <% end %>
          <!-- DESCRIPTION -->
          <p class="event-description">
            <%= event.description %>
          </p>
        </ul>
      </div>


    <!-- MAP PAGE -->
      <div id="map-<%= index %>" class="event-map">
        <%= render 'map', event: event, index: index %>
        <p class="text-center">
          <%= link_to ("Get directions"), "https://www.google.com/maps/dir/#{@user_lat},#{@user_lng}/#{event.latitude},#{event.longitude}", target:"_blank", class: "show-cta-btn" %>
        </p>
      </div>


    <!-- MOBILE NAV -->
      <%= render "shared/mobile_nav", index: index %>
    </div>
  <% end %>


<!-- FIXED ARROWS -->
  <div class= "arrows">
    <i><%= link_to (""), "#", class: "sidebar-arrow-right fa fa-arrow-right", id: "next-event-button" %></i>
    <i><%= link_to (""), "#", class: "sidebar-arrow-left fa fa-arrow-left", id: "prev-event-button" %></i>
  </div>

</div>





