<%= render 'shared/navbar_black' %>
<div class="all-the-events">
  <% @events.each_with_index do |event, index| %>
    <div>
      <!-- Event title -->
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-8">
            <div class="event-title">
              <h2><%= event.title %></h2>
            </div>
          </div>
        </div>
        <hr class= "orange-line-top" width="100%">

        <!-- Event photo -->
        <div class=" event-photo">
          <%= cl_image_tag(event.photo, crop: :fill, class: "event-photo") %>
        </div>
        <hr class= "orange-line-two" width="100%">

        <!-- Event address -->
        <div class="container text-center">
          <div class="row infos">
            <div class="col-xs-6 address-padding">
              <p><%= event.club.name %></p>
            </div>
            <div class="col-xs-6">
              <!-- Event opening hours -->
              <p><%= event.opening_hours %></p>
            </div>
          </div>
           <div class="row infos">
            <div class="col-xs-6 address-padding">
              <!-- Event address -->
              <p><%= event.address %></p>
            </div>
            <div class="col-xs-6">
              <!-- Event price -->
              <p><%= event.price %></p>
            </div>
          </div>

          <!-- Buttons -->
          <div class="row">
            <div class="col-xs-6">
              <%= link_to t("View map"), "#", class: "show-cta-btn padded" %> <!-- Hot link to map -->
            </div>
            <div class="col-xs-6">
              <%= link_to t("Buy now"), "#", class: "show-cta-btn" %><!-- Link buy tickets: -->
            </div>
          </div>
        </div>
        <hr class= "green-line" width="100%">

        <!-- Event line-up -->
        <div class="container text-center">
          <div class="row line-up-container">
            <div class="col-xs-12">
              <ul class="infos line-up-list">
                <h4>Line up:</h4><br>
                <li>- DJ Fresh <br>
                  <em class= "soundcloud-link">
                  <i class="fa fa-headphones"></i>  Listen </em>
                </li>
                <li>- DJ Cool <br>
                  <em class= "soundcloud-link">
                  <i class="fa fa-headphones"></i>  Listen </em>
                </li>
                <li>- DJ Gigi <br>
                  <em class= "soundcloud-link">
                  <i class="fa fa-headphones"></i>  Listen </em>
                </li>
                <li>- DJ Jor <br>
                  <em class= "soundcloud-link">
                  <i class="fa fa-headphones"></i>  Listen </em>
                </li>
                <li>- DJ Knox <br>
                  <em class= "soundcloud-link">
                  <i class="fa fa-headphones"></i>  Listen </em>
                </li>
              </ul><br>
              <%= link_to t("Show full line up"), "#", class: "full-lineup-link" %> <!-- Expand to see full line up / or a pop up page?: -->
            </div>
          </div>
        </div>
        <hr class= "green-line" width="100%">

        <!-- Event description -->
        <div class="container text-center">
          <div class="row event-description">
            <div class="col-xs-12">
              <h4>Description:</h4>
              <p><%= event.description %></p>
            </div>
          </div>
        </div>
        <hr class= "orange-line-bottom" width="100%">
        <!-- Map partial -->
        <%= render 'map', event: event, index: index %>

        <!-- link to google maps api?? -->
        <div class="container text-center">
          <%= link_to t("Get directions"), "#", class: "show-cta-btn" %>
        </div>
        <hr class= "orange-line-bottom" width="100%">
      </div>
    </div>
  <% end %>
</div>

