<div class="container">
  <div class="club-name">
    <h1>TRESOR</h1>
  </div>
</div>

<div class="container padded text-center">
  <div class="club-image">
    <h1>**IMAGE**</h1>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-6">
      <p>Köpenicker Str. 70, 10179 Berlin</p>
      <%= link_to t("See map"), "#", class: "btn btn-warning" %>
    </div>
    <div class="col-xs-6">
      <p>The cost is xxx:</p>
      <%= link_to t("Buy tickets"), "#", class: "btn btn-warning" %>
    </div>
  </div>
</div>

<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-6">
      <p>LINE UP:</p>
      <p>Lorem ipsum dolor sit amet,
      consectetur adipisicing elit
      Saepe delectus alias, nulla </p>
      <%= link_to t("See full line up"), "#", class: "btn btn-warning" %>
    </div>
    <div class="col-xs-6">
      <p>Opening Hours:</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="club-name">
    <p>Description:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quis iure, porro eveniet pariatur voluptate, a saepe similique aspernatur possimus officiis repudiandae ratione molestiae cumque soluta explicabo totam tenetur! Perspiciatis!</p>
  </div>
</div>


<!-- Map partial: -->
<%= render 'map' %>
<!--...don't remove! -->

<div class="container padded text-center">
  <%= link_to t("Get directions"), "#", class: "btn btn-warning" %>
</div>
